body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        nav {
            display: flex;
            justify-content: space-around;
            background-color: #d91010;
            padding: 15px;
        }

      
      
        main {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            padding: 20px;
        }

        section {
            background: #f4f4f4;
            padding: 20px;
            border-radius: 10px;
    
        }

        li {
            display: flex;
            justify-content: space-between;
            margin: 10px 0;
            background: white;
          
        }
        .price {
            background: orange;
            color: white;
            padding: 5px 10px;
            font-weight: bold;
        }